yolov8n.pt
видео1.mp4
видео2.mp4
screenshots/screenshot_20260330_012503.png
table_monitor/__pycache__/__init__.cpython-314.pyc
table_monitor/__pycache__/config.cpython-314.pyc
table_monitor/__pycache__/detector.cpython-314.pyc
table_monitor/__pycache__/logger.cpython-314.pyc
table_monitor/__pycache__/monitor.cpython-314.pyc
table_monitor/__pycache__/visualizer.cpython-314.pyc
